{:paths ["src" "resources" "target/resources"]
 :deps {com.biffweb/biff {:git/url "https://github.com/jacobobryant/biff" :sha "493fa862697d5b05dd96630a04289d2e63822ecf"}
        org.slf4j/slf4j-simple {:mvn/version "2.0.0-alpha5"}}
 :aliases {:format {:extra-deps {cljfmt/cljfmt {:mvn/version "0.8.2"}}
                    :main-opts ["-m" "cljfmt.main" "fix" "--indents" "cljfmt-indents.edn"]}}}
